.page-type-home {
    // .navbar-default {
    //     .navbar-nav > li > a, .navbar-brand {
    //         color: #eee;
    //     }

    //     .navbar-nav > li > a:hover, .navbar-brand:hover {
    //         color: #fff;
    //     }
    // }

    .messages-holder {
        position: absolute;
        z-index: 100;
        width: 80%;
        left: 10%;
        top: 70px;
    }
}

// .page-type-home .navbar-default .navbar-toggle {
//     background-color: rgba(128, 128, 128, 0.3);
//     border-color: #eee;

//     &:focus,
//     &:hover {
//         background-color: rgba(128, 128, 128, 0.5);
//     }

//     .icon-bar {
//         background-color: #eee;
//     }
// }

.jumbotron-home {
    color: #fff;
    background-color: #000;
    background-image: url("/img/backpack.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center top;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: cover !important;
    padding-top: 120px;
    padding-bottom: 8em;
    text-align: center;
    overflow: hidden;
    position: relative;
    margin-top: -56px;

    .impact-text {
        margin-top: 20px;
        font-size: 40px;
        line-height: 1;
    }

    .subtitle {
        color: #eee;
        font-size: 16px;
        margin-top: 30px;
        padding: 0 40px;
    }
}

@media (max-width: 767px) {
    .page-type-home .nav.navbar-nav {
        background: none repeat scroll 0% 0% #808080;
    }

    .jumbotron-home {
        margin: 0;
        margin-top: -70px;
        padding-top: 80px;
    }

    .messages-holder + .jumbotron-home {
        padding-top: 120px;
    }
}

@media (min-width: 768px) {
    .jumbotron-home {

        .impact-text {
            font-size: 72px;
        }

        .subtitle {
            font-size: 20px;
        }
    }

    .page-type-home .navbar-default {
        position: absolute;
    }
}

.homepage-blurb {
    margin: 30px auto;
    text-align: center;

    h2 {
        font-size: 32px;
    }

    p {
        font-size: 16px;
    }
}

.long-explanation {
    font-size: 16px;

    h3 {
        font-size: 22px;
    }

    h4 {
        font-size: 20px;
    }
}


