.form-page-heading {
    margin: 20px 0;

    font-size: 2rem;
}

.user-form {
    .checkbox {
        margin-bottom: 40px;
    }

    input {
        &[type="text"],
        &[type="password"],
        &[type="email"] {
            font-size: 16px;
            height: auto;
            padding: 7px 9px;
            width: 100%;
        }
    }

    .create-account-message {
        margin-top: 20px;
    }

    label {
        display: block;
        margin-bottom: 2px;
    }

    .remember-me-holder {
        margin-bottom: 10px;

        label {
            margin-top: 0;
        }

        input {
            position: relative;
            margin-left: 0;
        }
    }
}

.user-form .privacy-message {
    margin-top: 15px;
}


